In [3]:
'''Clustering tasks''' 
import os
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [9]:
'''Task1 - To group customers with similar spending power.''' 

''' Read orders dataset '''
orders_df = pd.read_csv(os.path.join(os.getcwd(), 'data', 'olist_orders_dataset.csv'))
orders_df = orders_df[['order_id', 'customer_id']]
orders_df.head()

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

In [10]:
''' Read payments dataset '''
payments_df = pd.read_csv(os.path.join(os.getcwd(), 'data', 'olist_order_payments_dataset.csv'))
payments_df = payments_df[['order_id','payment_value']]
payments_df.head()

                           order_id  payment_value
0  b81ef226f3fe1789b1e8b2acac839d17          99.33
1  a9810da82917af2d9aefd1278f1dcfa0          24.39
2  25e8ea4e93396b6fa0d3dd708e76c1bd          65.71
3  ba78997921bbcdc1373bb41e913ab953         107.78
4  42fdf880ba16b47b59251dd489d4441a         128.45

In [11]:
''' Merge orders and payments '''
order_payments_df = pd.merge(orders_df, payments_df, on='order_id',how='left')
order_payments_df = order_payments_df.drop(['order_id'], axis=1)

''' Group by based on each customer_id '''
order_payments_df = order_payments_df.groupby('customer_id', as_index=False).agg({"payment_value":"sum"})
order_payments_df.head()

                        customer_id  payment_value
0  00012a2ce6f8dcda20d059ce98491703         114.74
1  000161a058600d5901f007fab4c27140          67.41
2  0001fd6190edaaf884bcaf3d49edf079         195.42
3  0002414f95344307404f0ace7a26f1d5         179.35
4  000379cdec625522490c315e70c7a9fb         107.01

In [15]:
''' Read customers dataset '''
customers_df = pd.read_csv(os.path.join(os.getcwd(), 'data', 'olist_customers_dataset.csv'))
customers_df = customers_df.drop(["customer_unique_id"], axis=1)
customers_df.head()
# len(customers_df)

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,13056,campinas,SP

In [16]:
'''join orders-payments and customers based on customerid'''
customer_spend_df = pd.merge(customers_df, order_payments_df, on="customer_id")
print(customer_spend_df.head())
print(customer_spend_df['customer_state'].unique())
print(customer_spend_df['customer_city'].unique())

                        customer_id  customer_zip_code_prefix  \
0  06b8999e2fba1a1fbc88172c00ba8bc7                     14409
1  18955e83d337fd6b2def6b18a428ac77                      9790
2  4e7b3e00288586ebd08712fdd0374a03                      1151
3  b2b6027bc5c5109e529d4dc6358b12c3                      8775
4  4f2d8ab171c80ec8364f7c12e35b23ad                     13056

           customer_city customer_state  payment_value
0                 franca             SP         146.87
1  sao bernardo do campo             SP         335.48
2              sao paulo             SP         157.73
3        mogi das cruzes             SP         173.30
4               campinas             SP         252.25
['SP' 'SC' 'MG' 'PR' 'RJ' 'RS' 'PA' 'GO' 'ES' 'BA' 'MA' 'MS' 'CE' 'DF'
 'RN' 'PE' 'MT' 'AM' 'AP' 'AL' 'RO' 'PB' 'TO' 'PI' 'AC' 'SE' 'RR']
['franca' 'sao bernardo do campo' 'sao paulo' ... 'monte bonito'
 'sao rafael' 'eugenio de castro']

In [17]:

customer_spend_df[["customer_id","customer_city"]] = customer_spend_df[["customer_id","customer_city"]].apply(LabelEncoder().fit_transform)
customer_spend_df = customer_spend_df.drop(["customer_id"],axis=1)